* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cor do body gradiente rosa clara */
body {
    background-image: linear-gradient(to left, #d8ecf8, #e593f5);
}

header {
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.btn_nav {
    width: 100px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_nav:hover {
    background-color: #d8ecf8;
}

.btn_lateral {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 80px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_lateral:hover {
    background-color: #d8ecf8;
}

#home {
    width: 35px;
}

main {
    display: flex;
    justify-content: left;
    align-items: center;
   margin-top: 20px;
}


#display {
    width: 300px;
    margin-top: -40px;
    margin-left: 10px;
    padding: 10px;
    color: #ffffff;
}

 .inputCadastros{
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


footer {
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 180px;
    width: 100%;
}

h1, h2, p {
text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#relat {
    width: 300px;
   margin-left: -250px;
   
}

#relat h2 {
    color: #ffffff;
}

li {
    list-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color:hsla(0, 0%, 0%, 0.8);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
}
